{% comment %}Please leave this file in place for the Fudge Agent to function{% endcomment %}
<div>This is an example section. You can create sections just like this and use it in your templates.</div>